<nav class="navbar navbar-expand-md">
  <a class="navbar-brand" href="#">Logo</a>

  <div class="d-flex flex-row-reverse bd-highlight">
    <div class="p-2 bd-highlight links-header">
      <span><a [routerLink]="['/contact']" class="mx-3">Contact</a></span>
      <span><a [routerLink]="['/pannier']"><i style="color: white;" class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i></a></span> </div>
  </div>
</nav>
<div class="container wrapper">
<router-outlet></router-outlet>
<div class="push"></div>
</div>
<!-- Footer -->
<footer class="footer">
  footer
</footer>

<!-- Footer -->